*{
    margin:0;
    padding:0;
}


@font-face {
    font-family: 'Normal';
    src: url('louis_george_caf/Louis\ George\ Cafe.ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'titol';
    src: url('birds_of_paradise/Birds\ of\ Paradise\ ©\ PERSONAL\ USE\ ONLY.ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'bold';
    src: url('/louis_george_caf/Louis\ George\ Cafe\ Bold.ttf');
    font-weight: 100;
    font-style: normal;
}

header{
    background-color: whitesmoke;
    
}
.barrasuperior{
    background-color: black;
    display: flex;
    
}
.barrasuperior h2{
    color: white;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1.5%;
    font-family: 'normal';
}
.barrasuperior img{
    height: 28px;
    margin-top: 0.5%;
    right: 0;
    margin-right: 1%;
    position: absolute;
    
}
.llistaul li{
    display: inline;
    padding-left: 5.5%;
    margin-left: 9.2%;
    font-family: 'bold';
    font-size: 20px;
}
.menu{
    
    padding-bottom: 1%;
}

.titol{
    font-size: 300%;
    text-align:center;
    font-family: 'titol';
    padding-top: 1%;
    padding-bottom: 0.5%;
}
.presentacio{
    display: flex;
    margin-left: 12%;
}
.presentacio img{
    height: 400px;
    margin-left: 3%;
    margin-top: 1.5%;
    
}
.text1{
    width: 55%;
    margin-left: 3%;
    margin-top: 1.5%;
    border-left:1px solid black;
    padding-left: 1%;
    
}

.text1 p{
    font-family: Normal;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color:whitesmoke;
    display: flex;
}
.peu li{
    color: black;
    font-family: bold;
    font-size: 90%;
    display: inline;
    margin-left: 2%;
    margin-top: 1.5%;
    margin-bottom: 1%;
    
}
.peu{
    margin-top: 0.8%;
}

.Rpp{
    padding-top: 7%;

}
.Rpp img{
    height: 25px;
    padding-right: 1%;
}
.Rpp li{
    list-style: none;
    display: inline;
    
}
.b1{
    width: 50%;
    
}
.b2{
    right: 0;
    position: absolute;
}